body{
    background-color: #990000;
}

#logo{
    float: left;
    margin-top: 20px;
    width:600px;
    height:65px;
}
.container{
    border-radius: 25px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:1000px;
    height:12500px;
    background-color: white;
}
select{
    z-index: 1;
    writing-mode: horizontal-tb;
    padding:2px;
    display: inline-block;
}
form{
    display: inline-block;
    writing-mode: horizontal-tb;
}
#submit{
    display: inline-block;
    width: 45px;
    padding: 2px;
    writing-mode: horizontal-tb;
}
.class{
    display: inline-block;
}
.counter{
    width: 20px;
    float:left;
}
.class_title{
    width: 100px;
    float:left;
}
.class_info{
    float:left;
}
.add_button{
    float:right;
    background:lightblue;
    text-align: right;
}
.pagination {
    display: inline-block;
  }
  